<!DOCTYPE html>
<html>
  <head>
    	<title>My first Three.js app</title> 
  	   <link rel='stylesheet' href='/stylesheets/style.css' />
      <style>
      canvas 
      { width: 100%; height: 100% }
      .color_block{
		position:relative;
		float:left;
		width:20px;
		height:20px;
		margin-right:20px;
		margin-bottom:20px;
		border-style:solid; 
		border-width:1px;     
      }
      #color_area{
      position:absolute;
      width:170px;
      height:60px;
      top:58px;
      background-color:#cccccc;
      padding:10px;
      border-style:solid;
      border-width:1px;
      }
      
      </style>
  </head>
  <body>
	<div id="color_area">  
  		<div id="red_block" class="color_block" style="background-color:#ff0000"></div>
  		<div id="green_block" class="color_block" style="background-color:#00ff00"></div>
  		<div id="blue_block" class="color_block" style="background-color:#0000ff"></div>
  		<div id="yellow_block" class="color_block" style="background-color:#ffff00"></div>
  		<div id="violet_block" class="color_block" style="background-color:#ff00ff"></div>
  		<div id="teal_block" class="color_block" style="background-color:#00ffff"></div>
  		<div id="white_block" class="color_block" style="background-color:#ffffff"></div>
  		<div id="black_block" class="color_block" style="background-color:#000000"></div>

  	</div>
  	
   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--<button id="update" type="button">Update</button>-->
      <!--
	<br>
    City: <span id="city"></span>
	<br>
    Description: <span id="main"></span>
	<br>
    Temperature: <span id="temperature"></span>
    -->
  	<script src="javascripts/threex_dynamictextures.js"></script>
	<script src="javascripts/keyboard.js"></script>
	<script src="javascripts/three.min.js"></script>
	<script src="javascripts/trackballControls.js"></script>
	 <script src="javascripts/cube3.js"></script>
<script>
$(function(){				
    $('#update').click(function(e){
        e.preventDefault();
        console.log('User Sign Up Clicked');

		$.ajax({
			dataType: "jsonp",
			url: 'http://api.openweathermap.org/data/2.5/weather?q=Raynham,ma',						
            success: function(data) {
				console.log(JSON.stringify(data));
				$('#city').html(data.name);
				$('#main').html(data.weather[0].main);
				$('#temperature').html(parseFloat(kelvinToFahrenheit(data.main.temp)).toFixed(0));
				dynamicTexture.clear();
				dynamicTexture.drawText('City: ' + data.name, 10, 40, 'red');
				dynamicTexture.drawText('Weather: ' + data.weather[0].main, 10, 80, 'red');
				dynamicTexture.drawText('Temperature: ' + parseFloat(kelvinToFahrenheit(data.main.temp)).toFixed(0), 10, 120, 'red');
            }
        });

    });		
    
    $('.color_block').click(function(){
	
		var hexColor;	
	
		var id = $(this).attr('id');  
    
    	if(id==='red_block'){
    		currentColorCode = 'ff0000';
    		hexColor = 0xff0000;
    	}
    	if(id==='green_block'){
    		currentColorCode = '00ff00';
    		hexColor = 0x00ff00;    	
    	}
    	if(id==='blue_block'){
    		currentColorCode = '0000ff';
    		hexColor = 0x0000ff;    	
    	}
    	if(id==='yellow_block'){
    		currentColorCode = 'ffff00';
     		hexColor = 0xffff00;   	
    	}
    	if(id==='violet_block'){
    		currentColorCode = 'ff00ff';
    		hexColor = 0xff00ff;    	
    	}
    	if(id==='teal_block'){
    		currentColorCode = '00ffff';
    		hexColor = 0x00ffff;    	
    	}
    	if(id==='white_block'){
     		currentColorCode = 'ffffff';
     		hexColor = 0xffffff;   	
    	}
    	if(id==='black_block'){
    		currentColorCode = '000000';
    		hexColor = 0x000000;    	
    	}
     
    cube.material.color.setHex(hexColor);
    
    });		
});

function kelvinToFahrenheit(K){

return 1.8*(K-273)+32;

}


</script>

	 
  </body>
</html>
